.newTask {
    text-align: center;
}

.newTask--bg {
    background-color: rgb(131, 131, 131);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input[type="text"], 
form input[type="date"] {
    font-size: 1rem;
    margin: .5rem 0;
    padding: .5em 1em;
    border: none;
    border-radius: 5px;
    background-color: #fff;
}

form input[type="text"]:focus, 
form input[type="date"]:focus {
    outline: none;
}

input[type="checkbox"] {
    display: none;
}

.checkbox-label {
    display: block;
    position: relative;
    margin: auto;
    cursor: pointer;
    font-size: 18px;
    line-height: 24px;
    height: 24px;
    width: 24px;
    margin: 1rem 0 .5rem 0;
}
.checkbox-custom:focus,
.checkbox-label:focus,
.checkbox-text:focus {
    outline: none;
}
.checkbox-text {
    outline: none;
    user-select: none;
}
.checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkbox-label .checkbox-custom {
    position: absolute;
    top: -2px;
    left: -40px;
    height: 24px;
    width: 24px;
    background-color: transparent;
    border-radius: 5px;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    border: 2px solid #FFFFFF;
}


.checkbox-label input:checked ~ .checkbox-custom {
    background-color: #FFFFFF;
    border-radius: 5px;
    -webkit-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    opacity:1;
    border: 2px solid #FFFFFF;
}


.checkbox-label .checkbox-custom::after {
    position: absolute;
    content: "";
    left: 12px;
    top: 12px;
    height: 0px;
    width: 0px;
    border-radius: 5px;
    border: solid #009BFF;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(0deg) scale(0);
    -ms-transform: rotate(0deg) scale(0);
    transform: rotate(0deg) scale(0);
    opacity:1;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}


.checkbox-label input:checked ~ .checkbox-custom::after {
  -webkit-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  opacity:1;
  left: 8px;
  top: 3px;
  width: 6px;
  height: 12px;
  border: solid #009BFF;
  border-width: 0 2px 2px 0;
  background-color: transparent;
  border-radius: 0;
}

.checkbox-label .checkbox-custom::before {
    position: absolute;
    content: "";
    left: 10px;
    top: 10px;
    width: 0px;
    height: 0px;
    border-radius: 5px;
    border: 2px solid #FFFFFF;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);    
}

.checkbox-label input:checked ~ .checkbox-custom::before {
    left: -3px;
    top: -3px;
    width: 24px;
    height: 24px;
    border-radius: 5px;
    -webkit-transform: scale(3);
    -ms-transform: scale(3);
    transform: scale(3);
    opacity:0;
    z-index: 999;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

form button {
    font-size: 1rem;
    margin: 1rem 0;
    padding: .5rem 1rem .5rem 2.25rem;
    border: none;
    background-color: #009600;
    color: #fff;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
}

form button:focus {
    outline: none;
}

form button:hover {    
    background-color: #007a00;
}

.addIcon {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2.2rem;
    transform: translateX(-10%);
}